<div class="container">
    <div class="row">
        <div class="col-5">
            <h4>Register a New User</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="mb-2">
                <label for="txtUserId" class="form-label">User Id</label>
                <input [(ngModel)]="userInfo!.userId" type="text" class="form-control" id="txtUserId">
            </div>
            <div class="mb-2">
                <label for="txtFirstName" class="form-label">First Name</label>
                <input [(ngModel)]="userInfo!.firstName" type="text" class="form-control" id="txtFirstName">
            </div>
            <div class="mb-2">
                <label for="txtLastName" class="form-label">Last Name</label>
                <input [(ngModel)]="userInfo!.lastName" type="text" class="form-control" id="txtlastName">
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input [(ngModel)]="userInfo!.emailAddress" type="email" class="form-control" id="email">
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input [(ngModel)]="userInfo!.password" type="password" class="form-control" id="password">
            </div>
            <div *ngIf="message!==''" class="alert" [ngClass]="{'alert-danger':!success, 'alert-success': success}" role="alert">
                {{message}}
            </div>
            <div class="mb-2">
                <button (click)="changeAlert()" class="btn btn-primary">Create User</button>
            </div>
        </div>
    </div>
</div>