<!DOCTYPE html>
<html>
  <head>
    <!--Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="text-center">
      <h4>Patch (edit) the user in the system.</h4>
    </div>
    <div class="row" style="margin-top: 5%">
      <div class="col- offset-5">
        <form action="/Users/{userId}" method="POST">
          <div class="form-group">
            <label for="firstName"
              >Users First Name:<input type="text" name="firstName" id="firstName" class="form-control"
            /></label>
          </div>
          <div class="form-group">
            <label>Users Last Name:<input type="text" name="lastName" id="lastName" class="form-control" /></label>
          </div>
          <div class="form-group">
            <label
              >Users Email Address:<input type="text" name="emailAddress" id="emailAddress" class="form-control"
            /></label>
          </div>
          <div class="form-group">
            <label>Users Password:<input type="text" name="password" id="password" class="form-control" /></label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
          <a href="/" class="btn btn-info">Home Page</a>
        </form>
      </div>
    </div>
    <!--Bootstrap-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
