<h4 class="text-center">Welcome to the "Inner Sanctum page, {{this.currentUser!.UserData.firstName}}"</h4>

<div class="container mt-4">
    <div class="row">
        <div class="col-6 offset-3">
            <h6>While I would like to say everything is good in this sanctum, I am using this page to tell you
                what does not work.
            </h6>
            <br/>
            <ol>
                <li>
                    Refresh the page to get the navbar to work.
                    <ul>
                        <li>Yes it is subscribed, but I can't figure that out for some reason.</li>
                    </ul>                             
                </li>
                <li>
                    Create Post does not work. It says "PostInfo is null on load."
                </li>
                <li>
                    Post are not sorted by chronological order.
                </li>
                <li>
                    No Edit Post Section.
                </li>
            </ol>
        </div>
    </div>
</div>

