<h4 class="text-center">Welcome to the "Inner Sanctum", {{this.currentUser!.UserData.firstName}}</h4>

<div class="container mt-4">
    <div class="row">
        <div class="col-6 offset-3">
            <h6>While I would like to say everything is good in this sanctum, I am using this page to tell you
                what does not work.
            </h6>
            <br/>
            <ol>
                <li>
                    Create Post does not work. It says "Invalid Authorization Header"
                </li>
                <li>
                    No Edit Post Section. Can't test this anyways
                </li>
                <li>
                    No Delete.. 
                </li>
            </ol>
        </div>
    </div>
</div>

