<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="/Users" method="POST">
            <label>Users First Name:</label>
            <input type="text" name="firstName" id="firstName"/>
            <br/>
            <label>Users Last Name:</label>
            <input type="text" name="lastName" id="lastName"/>
            <br />
            <label>Users Email Address:</label>
            <input type="text" name="emailAddress" id="emailAddress"/>
            <br />
            <label>Users Password:</label>
            <input type="text" name="password" id="password"/>
            <br/>
            <input type="submit"/>
        </form>
    </body>
</html>